examples/crypto-alert-webhook.json
{
  "name": "Crypto Price Alert Webhook",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "coreData",
        "operation": "getQuote",
        "symbol": "BTC/USD"
      },
      "id": "twelve-data-crypto",
      "name": "Get Crypto Quote",
      "type": "n8n-nodes-twelve-data.twelveData",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "twelveDataApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Twelve Data Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.percent_change }}",
              "rightValue": "5",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-price-change",
      "name": "Check Price Change > 5%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/YOUR_WEBHOOK_ID",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert\": \"Crypto Price Alert\",\n  \"symbol\": \"{{ $json.symbol }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"current_price\": {{ $json.close }},\n  \"percent_change\": {{ $json.percent_change }},\n  \"timestamp\": \"{{ $json.datetime }}\",\n  \"message\": \"{{ $json.symbol }} has moved {{ $json.percent_change }}% - Current price: ${{ $json.close }}\"\n}",
        "options": {}
      },
      "id": "webhook-alert",
      "name": "Send Webhook Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "No significant price change"
            }
          ]
        },
        "options": {}
      },
      "id": "no-alert",
      "name": "No Alert Needed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Crypto Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Crypto Quote": {
      "main": [
        [
          {
            "node": "Check Price Change > 5%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Change > 5%": {
      "main": [
        [
          {
            "node": "Send Webhook Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "example"
  },
  "id": "crypto-alert-webhook",
  "tags": [
    {
      "name": "Twelve Data",
      "id": "twelve-data"
    },
    {
      "name": "Webhook",
      "id": "webhook"
    },
    {
      "name": "Example",
      "id": "example"
    }
  ]
}

